<h1>Gluent</h1>

<ul>
  <li><a href="/create">Create new entry</a></li>
</ul>

<% entries.each do |entry| %>
  <hr />
  <div>
    <div style="text-align: right;">
      <% if entry[:git_status] %>
	<div class="warn">
      <% end %>
      <a href="/show/<%= entry[:filepath] %>"><%= h entry[:filepath] %></a>
      <a href="/edit/<%= entry[:filepath] %>">[edit]</a>
      <% if entry[:git_status] %>
	<a href="/commit/<%= entry[:filepath] %>">[commit]</a>
	</div>
      <% end %>
    </div>
    <div>
      <%= entry[:body] %>
    </div>
  </div>
<% end %>
