<h1>Gluent</h1>

<div class="medium primary btn pretty"><a href="/create">Create new entry</a></div>

<hr />

<% entries.each do |entry| %>
  <div class="entry">
    <div class="entry-meta <% if entry[:git_status] %>uncommitted<% end %>">
      <h2><a href="/show/<%= entry[:filepath] %>"><%= h entry[:filepath] %></a></h2>
      <div class="small default btn pretty"><a href="/edit/<%= entry[:filepath] %>">Edit</a></div>
      <% if entry[:git_status] %>
	<div class="small danger btn pretty">
	  <a href="/commit/<%= entry[:filepath] %>">Commit</a>
	</div>
      <% end %>
    </div>
    <div>
      <%= entry[:body] %>
    </div>
  </div>
<% end %>
