<h1>Gluent</h1>

<div class="medium primary btn pretty"><a href="/create">Create new entry</a></div>

<hr />

<ul class="pages">
  <% (1..num_pages).each do |page| %>
    <% if page == page_idx %>
      <li><a class="current-page" href="#"><%= page %></a></li>
    <% else %>
      <li><a href="/?page=<%= page %>"><%= page %></a></li>
    <% end %>
  <% end %>
</ul>

<ul>
  <% entries.each do |entry| %>
    <li><a href="#<%= h entry[:anchor] %>"><%= h entry[:title] %></a></li>
  <% end %>
</ul>

<% entries.each do |entry| %>
  <div class="entry trailing-space" id="<%= h entry[:anchor] %>">
    <div class="entry-meta <% if entry[:git_status] %>uncommitted<% end %>">
      <h2><a href="/show/<%= entry[:filepath] %>"><%= h entry[:title] %></a></h2>
      <!-- <div class="small default btn pretty"><a href="/edit/<%= entry[:filepath] %>">Edit</a></div> -->
      <div class="small default btn pretty"><a href="javascript:void(0);" onclick="javascript:window.open('/edit/<%= entry[:filepath] %>', '', 'width=1440,height=800');">Edit</a></div>
      <% if entry[:git_status] %>
	<div class="small danger btn pretty">
	  <a href="/commit/<%= entry[:filepath] %>">Commit</a>
	</div>
      <% end %>
    </div>
    <div>
      <%= entry[:body] %>
    </div>
  </div>
<% end %>
