<div class="entry <% if entry[:commit] %>old-entry<% end %>">
  <div class="entry-meta <% if entry[:git_status] %>uncommitted<% end %>">
    <h2><a href="/show/<%= entry[:filepath] %>"><%= h entry[:filepath] %></a></h2>
    <!-- <div class="small default btn pretty"><a href="/edit/<%= entry[:filepath] %>">Edit</a></div> -->
    <div class="small default btn pretty"><a href="javascript:void(0);" onclick="javascript:window.open('/edit/<%= entry[:filepath] %>', '', 'width=1440,height=800');">Edit</a></div>
    <% if entry[:git_status] %>
      <div class="small danger btn pretty">
	<a href="/commit/<%= entry[:filepath] %>">Commit</a>
      </div>
    <% end %>
  </div>
  <div>
    <%= entry[:body] %>
  </div>
</div>
<div class="git-history">
  <% entry[:git_log].group_by{|commit| commit.date.to_i / (3600 * 24)}.each do |_,commits| %>
    <% commits = commits.sort_by{|commit| - commit.date.to_f} %>
    <div class="day-commits">
      <h4>Commits on <%=h commits.first.date.strftime("%Y-%m-%d") %></h4>
      <% commits.sort_by{|commit| - commit.date.to_f}.each do |commit| %>
	<div class="commit <% if entry[:commit] == commit.sha %>current-commit<% end %>">
	  <div>
	    <a href="/show/<%=h entry[:filepath] %>?commit=<%=h commit.sha %>" class="info label gitsha"><%= commit.sha[0..7] %></a>
	    <span class="default label"><%= commit.date.strftime("%H:%M:%S") %></span>
	    <span class="default label"><%= commit.author.name %></span>
	  </div>
	  <div class="commit-content">
	    <%=h commit.message %>
	  </div>
	  <div class="commit-diff">
<pre><%= diff_pretty_print(commit.diff_parent.patch) %></pre>
	  </div>
	</div>
      <% end %>
    </div>
  <% end %>
</div>
