<% key = entry[:anchor] %>
<div class="entry <% if entry[:commit] %>old-entry<% end %>">
  <div class="entry-meta <% if entry[:git_status] %>uncommitted<% end %>">
    <h2><a href="/show/<%= entry[:filepath] %>"><%= h entry[:filepath] %></a></h2>
    <!-- <div class="small default btn pretty"><a href="/edit/<%= entry[:filepath] %>">Edit</a></div> -->

    <div class="small default btn pretty">
      <a href="javascript:void(0);" onclick="javascript:$('section#js-body-<%=h key %>').toggle();$('section#js-source-<%=h key %>').toggle();">Toggle source</a>
    </div>

    <div class="small default btn pretty">
      <a href="javascript:void(0);" onclick="javascript:window.open('/edit/<%= entry[:filepath] %>', '', 'width=1440,height=800');">Edit</a>
    </div>

    <% if entry[:git_status] %>
      <div class="small danger btn pretty">
	<a href="/commit/<%= entry[:filepath] %>">Commit</a>
      </div>
    <% end %>
  </div>
  <section class="entry-body" id="js-body-<%=h key %>">
    <%= entry[:body] %>
  </section>
  <section class="entry-source" id="js-source-<%=h key %>">
    <textarea readonly><%= entry[:source] %></textarea>
  </section>
</div>
