<h1>Gluent</h1>

<div class="medium primary btn pretty">
  <a href="javascript:void(0);" onclick="javascript:window.open('/create', '', 'width=1440,height=800');">Create new entry</a>
</div>

<hr />

<!-- pagination -->
<ul class="pages">
  <% (1..num_pages).each do |page| %>
    <% if page == page_idx %>
      <li><a class="current-page" href="#"><%= page %></a></li>
    <% else %>
      <li><a href="/?page=<%= page %>"><%= page %></a></li>
    <% end %>
  <% end %>
</ul>

<!-- List of file titles (or file pathes) -->
<ul>
  <% entries.each do |entry| %>
    <li>
      <a href="#<%= h entry[:anchor] %>">
	<% if entry[:title] == entry[:filepath] %>
	  <%= h entry[:title] %>
	<% else %>
	  <%= h entry[:title] %> (<%= h entry[:filepath] %>)
	<% end %>
      </a>
      <% if entry.heads.size > 0 %>
        <ul class="entry-heads">
          <% entry.heads.each do |head| %>
            <li class="default alert"><%=h head %></li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>

<!-- List of entries -->
<% entries.each do |entry| %>
  <%= erb :_entry, :locals => {:entry => entry} %>
  <div style="height: 2em;"></div>
<% end %>
