<%= erb :_entry, :locals => {:entry => entry} %>

<div class="git-history">
  <% entry[:git_log].group_by{|commit| commit.date.to_i / (3600 * 24)}.each do |_,commits| %>
    <% commits = commits.sort_by{|commit| - commit.date.to_f} %>
    <div class="day-commits">
      <h4>Commits on <%=h commits.first.date.strftime("%Y-%m-%d") %></h4>
      <% commits.sort_by{|commit| - commit.date.to_f}.each do |commit| %>
	<div class="commit <% if entry[:commit] == commit.sha %>current-commit<% end %>">
	  <div>
	    <a href="/show/<%=h entry[:filepath] %>?commit=<%=h commit.sha %>" class="info label gitsha"><%= commit.sha[0..7] %></a>
	    <span class="default label"><%= commit.date.strftime("%H:%M:%S") %></span>
	    <span class="default label"><%= commit.author.name %></span>
	  </div>
	  <div class="commit-content">
	    <%=h commit.message %>
	  </div>
	  <div class="commit-diff">
<pre><%= diff_pretty_print(commit_diff(commit, entry[:filepath]).to_s) %></pre>
	  </div>
	</div>
      <% end %>
    </div>
  <% end %>
</div>
